.CreateMeetingComponent {
    background: #e4f4fb;
    height: 100vh;
    width: 100vw;
}
.CreateMeetingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.CreateMessage {
    margin: auto;
    margin-top: 6%;
}
.CreateButtonContainer {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.BackToJoin {
    margin-top: 3%;
}
.QRCode {
    margin-bottom: 5%;
}
