.CreateMeetingComponent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}
.CreateMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1%;
    margin-left: 1%;
}
.CreateMeetingContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
    width: 100%;
}
.CreateButtonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.JitsiComponent {
    flex-grow: 3;
}

.flux {
    border: 1px blue solid;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}

.sectionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    align-items: center;
}

.button {
    color: white;
    background-color: #141414;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    margin: 10px;

    border: solid white 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover {
    background-color: rgb(54, 54, 54);
}

.sectionClick {
    display: flex;
    justify-content: center;
    align-items: center;
}
