.DashboardButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}
.DashboardButtonsRow {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    height: 100%;
}
.ButtonContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: center;
    margin: 10px;
    width: 100%;
    height: 100%;
}
.Button {
    height: 70%;
    width: 60%;
    color: white;
}
.lmj-logo {
    height: 80%;
    width: 70%;
}
