#focusMode {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.7);
    border-image-slice: 1;
    z-index: 299;
    pointer-events: none;
    transition: all 0.5s linear;
    background-clip: content-box;
    background-color: rgba(199, 41, 41, 0.473);
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: rgba(255, 255, 0, 0.5);
    }
    50% {
        background-color: rgba(255, 255, 0, 0);
    }
    100% {
        background-color: rgba(255, 255, 0, 0.5);
    }
}

#explanationPosition {
    z-index: 300;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#explanation {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    z-index: 300;
    pointer-events: all;
    padding: 1em;
    max-width: 20em;
}

#explanationText {
    overflow-wrap: break-word;
    max-width: 20em;
}

#continueTuto {
    margin-bottom: 10px;
}
