.Home {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background: #E4F4FB;
    height: 100vh;
    width: 100vw;
}

.HomeButtonsContainer {
    width: 100vw;
    height: 100vh;
}
  