.HomeContainer {
    display: grid;
    grid-template-rows: repeat(minmax(0,1fr), 3);
    place-items: center center;
    text-align: center;
    font-size: large;
    min-height: 100vh;
}

.BoxHome {
    background-color: #1f1f1f;
    color: #efefef;
}

.StudentHome {
    background-color: #184777;
    color: #efefef;
}

.TeacherHome {
    background-color: #efefef;
    color: #505050;
}

.HomeButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    place-self: flex-start center;
}

.BoxHome #StartMeetingButton, .BoxHome #ReturnToMeetingButton{
    width: 60vw;
    height: 15vh;
}

.StudentHome #ReturnToMeetingButton, .TeacherHome #ReturnToMeetingButton {
    max-width: 40em;
}

.LogoContainer {
    align-self: center;
    margin-top: 5%;
}

.logo {
    display: flex;
}

.HomeContainer a {
    color: cornflowerblue;
    margin-top: 2em;
}

.HomeContainer a:visited {
    color: cornflowerblue;
}

.LanguageSelector {
    place-self: flex-end flex-end;
}
