.qrCodeContainer {
    background: #e4f4fb;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.QRItem {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DetailsContainer {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
