.Home {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background: #E4F4FB;
    height: 100%;
    width: 100%;
  }
  .HomeButtonsContainer {
    width: 100%;
    height: 100%;
  }
  