.JoinMeetingComponent {
    background: #e4f4fb;
}

.JoinInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.InputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-right: 1%;
    margin-left: 1%;
}
.JoinMessage {
    text-align: center;
}
.JoinButton {
    flex-grow: 0;
    margin: auto;
}
.InputMessage {
    flex-grow: 3;
    margin: auto;
}
